%flex-shared{
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
.header {
  @extend %flex-shared;
}
.header_part {
  @extend %flex-shared;
  
  svg {
    cursor: pointer;
  }
}
.header_part_right {
  margin-left: 1.5rem;
}

h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4793ff;
}

input {
  padding: 0.5rem 1rem;
  color: #000000;
  background: rgba(71, 147, 255, 0.2);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-family: "Montserrat";
}
