.Cards {
  padding-top: 3rem;
  width: 100%;
}
.CardsWeather {
  padding: 0 1rem;
  background: #ffffff;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardsBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
}
.cardsBtns_right {
  @extend .cardsBtns_left;
}
.cardsBtns_left {
  button {
    font-family: "Montserrat";
    margin-left: 1rem;
    padding: 0.5rem 2rem;
    background: #ffffff;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    &:hover {
      background-color: #4793ff;
      color: #ffffff;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
}
