@import url("../../variables.css");
.cards {
  padding-top: 3rem;
  padding: 0 2rem;
}
.cards_weather {
  background: var(--block-bg-default);
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0rem;
}
.cards_btns_right {
  @extend .cards_btns_left;
}
.cards_btns_left {
  button {
    font-family: "Montserrat";
    margin-left: 1rem;
    padding: 0.5rem 2rem;
    background: var(--block-bg-default);
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color-default);
    &:hover {
      background-color: #4793ff;
      color: var(--text-color-default);
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
}

@media (max-width: 940px) {
  .cards_weather {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 612px) {
  .cards_btns {
    justify-content: center;
    flex-direction: column;
  }
  .cards_btns_right {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .cards_btns_left {
    button {
      margin-left: 0.5rem;
      font-size: 14px;
      line-height: 0;
      padding: 1rem 2rem;
    }
  }
  .cards_btns_right {
    margin-top: 0.5rem;
  }
}
@media (max-width: 420px) {
  .cards {
    padding-top: 1rem;
  }
  .cards_btns {
    flex-direction: column;
  }
  .cards_btns_left {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    button {
      margin-left: 0;
    }
  }
  .cards_btns_right {
    margin-top: 0;
  }
}
