@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  padding: 2rem 7rem;
  font-family: "Montserrat", sans-serif;
}

.weatherBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}